/********** @SIDEBAR *********/

#sidebar, .sidebar {
	height:100%;
	@extend .mr0;
	@extend .ml0;
}


aside {
	cursor:ns-resize;

	overflow-x: hidden;
    overflow-y: scroll;

	@extend .mt3;
	@extend .pl2;
	@extend .pr1;
	//@extend .bg-white;

	position: absolute;
	z-index: 25;

	width: 200px;

	//border:1px solid $medium-light;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.open {
		left:30px;
		@include transform( skewX( $open-skew ) );
	}

	& .sidebar-heading {
		@extend .brand;
	}

	& .sidebar-item {
		font-size: .9em;

        * {
            border-bottom: none;
        }
	}

	& .active {
		border-color: $brand !important;
	}

	@media ($sm-query) {
		width: 180px;

		&.open {
			left:20px;
		}
	}

	@media (max-width: $xs-size + 50px ) {
		&.open {
			left:10px;
		}
	}
}

.page-about {
    width:300px;
}

.sidebar-active-heading {
	@extend .brand;
	@extend .m1;
	display:inline-block;
	border-bottom: 2px solid $brand;
}

.sidebar-active-subheading {
	@extend .brand;
	@extend .m1;

	display:inline-block;
}

.sidebar-passive-heading {
 	@extend .dark;
	@extend .m1;

	display:inline-block;

}

.sidebar-passive-subheading {
 	@extend .dark;
	@extend .m1;

	display:inline-block;

}

.sort-key {
	cursor: pointer;

	&.active {
		@extend .bold;
		@extend .brand;
		@include transition(font-weight, $transition-duration / 2);
	}
}

.sidebar-link{
	line-height: 1.1;
}
