
/* STRUCTURE */

body{
	background-color: $body-background-color;
}


/* make bootstrap gutters smaller on small screens */
.row{
	@media screen and (max-width: $sm) {
		margin-left: -10px;
		margin-right: -10px;
	}

	&.row-full{
		margin: 0;
	}
}


#content{
	overflow: hidden;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;
	}
}



/* customize bootstrap container fluid parameters */
.container-fluid{
	max-width: $container-fluid-max-width;
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $lg) {
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}

	&.container-fluid-stretch{
		max-width: none;
	}

}


/* MISC */


*{
	word-wrap: break-word;
}

a{

	&:hover{
		color: $brand;
	}

	&:focus{
		outline: none;
		text-decoration: none;
	}

}

input{
	&:focus{
		outline: none;
	}
}


/* sitewide button styles */

$text-button: (
	xs: (12px, 12px),
	sm: (13px, 12px),
	md: (14px, 12px),
	lg: (15px, 12px),
	xl: (16px, 12px)
	);

.button{
	padding: 25px;
	font-family: $font-main;
	color: white;
	@extend .bold;
	@extend .uppercase;
	@extend .tracked-less;
	display: inline-block;
	text-align: center;
	@include text-size($text-button);
	background-size: 100% 100%;

	&.button-small{
		padding: 5px 8px 2px 8px;
		font-size: 13px;
	}

	&.button-centered{
		margin: auto;
		display: block;
	}

	&.button-full{
		width: 100%;
		padding: 20px 0;
		border-radius: 0;
	}

	&:hover{
		background-image: url('../images/blob-button-aqua-hover.svg');
		cursor: pointer;
		color: white;
	}

	&:focus{
		outline: none;
		box-shadow: none;
	}

	@media screen and (max-width: $sm) {
		padding: 15px;
		font-size: 10px;
	}


}


/* LOADER */

.loader-icon {
	width: 50px;
	height: 50px;
	animation: spin 3s linear infinite;
	margin: 60px auto;
	display: none;

	&.active{
		display: block;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



/* slick components(overrides scss/utilities/slick-components.scss) */

.slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 10px;
	z-index: 2;
	font-size: 0;
	height: 100px;
	width: 50px;
	background: none;
	border: none;
	outline: none;
	padding: 0;

	@media screen and (max-width: $md) {
		left: 0px;
		height: 80px;
		width: 30px;
		top: 50%;
		margin-top: -40px;
	}

	&:hover{
		cursor: pointer;
	}

	&:focus{
		outline: none;
	}

	&:after{
		content: '‘';
		font-family: modern_pictograms_proregular;
		display: block;
		width: 50px;
		height: 100px;
		line-height: 100px;
		font-size: 90px;
		color: white;
		text-align: center;

		@media screen and (max-width: $md) {
			width: 30px;
			height: 80px;
			line-height: 80px;
			font-size: 60px;
		}
	}

	&.slick-next{
		left: auto;
		right: 10px;

		@media screen and (max-width: $md) {
			right: 0;
		}

		&:after{
			content: '—';
		}

	}

}

.slick-dots{
	position: absolute;
	left: 50%;
	@include transform(translate(-50%,0));
	bottom: -30px;

	li{
		display: inline-block;
		margin-right: 10px;

		&.slick-active button{
			background: $medium-dark;
			border-width: 0px;
			width: 9px;
			height: 9px;
		}
	}

	button{
		background: none;
		border: none;
		outline: none;
		font-size: 0;

		display: block;
		width: 9px;
		height: 9px;
		padding: 4px;

		background: $light;
		border: 1px solid $medium-dark;
		border-radius: 10px;

		&:hover{
			cursor: pointer;
		}

	}
}


/* site credit */

.site-credit h4{
	font-size: 15px;

	@media screen and (max-width: $sm) {
		font-size: 13px;
		margin-left: 10px;
	}
}




// Imported from GOV/LAB

/*
OBJECTS
colors
margins and padding
structure and position
backgrounds
animations
forms
fancy objects
flexslider
*/

/********** @COLORS ********************/

.brand {
	color:$brand;
}

.gray {
    color:#aaa;
}

.grayscale {
	filter: gray;
	filter: grayscale(1);
	-webkit-filter:grayscale(1);
}

/********** @MARGINS AND PADDING *********/

@for $i from 0 through 9 {
  .m#{$i} {
  	margin-bottom: 1em * $i;
  	margin-top: 1em * $i;
  }
}

@for $i from 0 through 9 {
  // .mb#{$i} {

  // }

  @include size-dependent( ".mb#{$i}" ) {
  	margin-bottom: 1em * $i;
  }

}

@for $i from 0 through 9 {
  .mt#{$i} {
  	margin-top: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .ml#{$i} {
  	margin-left: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .mr#{$i} {
  	margin-right: 1em * $i;
  }
}


@for $i from 0 through 9 {
  .p#{$i} {
  	padding: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pt#{$i} {
  	padding-top: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pb#{$i} {
  	padding-bottom: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pl#{$i} {
  	padding-left: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .pr#{$i} {
  	padding-right: 1em * $i;
  }
}

@for $i from 0 through 9 {
  .b#{$i} {
  	border: 1em * $i;
  }
}

.p-min {
    padding: .5em;
}

.padded-less{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.padded{
	padding-top: 4%;
	padding-bottom: 4.25%;
}

.padded-more{
	padding-top: 8%;
	padding-bottom: 9%;
}



/********** @BACKGROUNDS *********/


@include size-dependent( ".bg-light" ) {
	background: $light;
}

@include size-dependent( ".bg-white" ) {
	background: $ultra-light;
}

.bg-real-white {
    background-color: white;
}

.bg-brand{
	background: $brand;
}

.bg-dark{
	background: $dark;
}

.bg-yellow{
	background: yellow;
}

.bg-pink{
	background: pink;
}

.bg-orange{
	background: orange;
}

.bg-green{
	background: green;
}


.bg-gradient{
 	@include gradient();
}

.background-cover{
	background-size: cover;
}

.background-mask-light{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(255,255,255,.5);
		@include transition(all);
	}
}

.background-mask-dark{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(40,30,30,.75);
		@include transition(all);
	}
}

/********** @BORDERS AND SHADOWS *********/

.shadow{
	@include box-shadow(0,0,1px,rgba(53,50,50,.35));
}

.border{
	border: 2px solid;
}

.border-brand{
	border: 2px solid $brand;
}


.border-brand-bottom {
	border-bottom: 2px solid $brand;
}

/********** @VIEWPORT UNITS *********/




/********** @STRUCTURE AND POSITION *********/

.huge {
	font-size: 6em;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}


@include size-dependent(".vertical-center") {
	margin-top: 0;
	position: relative;
	top: 49%;
	@include transform(translate(0,-50%));
}

.display-block{
	display: block;
}

.crop{
	overflow: hidden;
}

.inline {
	display: inline !important;
}

@include size-dependent( ".hidden" ) {
	display: none;
}

@include size-dependent( ".visible" ) {
	display: inherit;
}

/********** @ANIMATIONS *********/

.skew-field {
	@include transition(transform);
	@include transform( skewX( $open-skew ) );

	&:hover, &:active {
		@include transform( skewX( $closed-skew ) );
	}

	&:hover * {
		//@include transform( skewX( - $closed-skew ) );
	}
}

$slide-distance-vertical: 20px;

.fade-in{
	@include animation(fade-in, 1s, ease, 0s, 1);
}
@include keyframes(fade-in){
	0% { opacity: 0;  }
	100% { opacity: 1; }
}

.fade-out{
	@include animation(fade-out, 1s, ease, 0s, 1);
}
@include keyframes(fade-out){
	0% { opacity: 1;  }
	100% { opacity: 0; }
}

.fade-in-slide-up{
	@include animation(fade-in-slide-up, .5s, ease, 1s, 1);
	position: relative;
}
@include keyframes(fade-in-slide-up){
	0% { opacity: 0; top: $slide-distance-vertical; }
	50% { opacity: 1; top: $slide-distance-vertical / 3; }
	100% { opacity: 1; top: 0px; }
}

.fade-in-slide-down{
	@include animation(fade-in-slide-down, .5s, ease, 1s, 1);
	position: relative;
}
@include keyframes(fade-in-slide-down){
	0% { opacity: 0; top: -1 * $slide-distance-vertical; }
	50% { opacity: 1; top: -1 * ($slide-distance-vertical / 3); }
	100% { opacity: 1; top: 0px; }
}



/********** @FANCY OBJECTS *********/

.loading{
	opacity: 0;
	@include transition(opacity,.25s);
}

.loaded{
	opacity: 1;
}

.block{
	position: relative;
	width: 100%;
	display: block;
	z-index: 1;

	&.crop{
		overflow: hidden;
	}

	&.active{

	}

	&.activated{

	}

}

.block-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position: center top;

	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: rgba(0,0,0,0);
		@include transition(all);
	}
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#edit-button{
	position: fixed;
	bottom: 80px;
	right: 30px;
	z-index: 10000;
	width: 40px;
	height: 40px;
	display: table;
	@include transition();
	background: #00f;
	padding: 5px 9px;

	&:hover{
		bottom: 83px;
		background: #11f;
	}
}


/********** @FORMS *********/

input,textarea{

	padding: 5px;
	outline: none;
	width: 100%;
	background: $white;
	color: $dark;

	font-size:1.2em;

	&:focus{
		@extend .bold;
		outline: none;
		border: 2px solid $brand;
	}

	&[type="submit"]{
		@extend .bold;
		border:0;
        font-size: 1.2em;
		outline: none;
		padding: 10px 15px;
		width: auto;
		text-align: center;

	}

}

/********** @FLEXSLIDER *********/

.flexslider li {
	background-size: cover;
}

.flexslider-direction{
	height: 100%;
	z-index: 6;
	position: absolute;
	right: 0;
	width: auto;
	height: 60px;
	top: 48%;
	margin-top: -30px;
	@include transition(all,.25s);

	.icon:before{
		font-size: 90px;
		color: $brand;
	}

	&.previous{
		right: auto;
		left: 0;
	}

	&:hover{
		cursor: pointer;
		cursor: w-resize;
	}

	&.next:hover{
		cursor: pointer;
		cursor: e-resize;
	}

}

.flexslider-controls{
	position: absolute;
	width: 300px;
	margin-left: -150px;
	z-index: 6;
	left: 50%;
	text-align: center;
	bottom: -40px;
	height: 20px;

	li{
		list-style: none;
		margin: 0 7px;
		display: inline-block;
		overflow: hidden;

		a{
			display: block;
			text-indent: 9999px;
			width: 15px;
			height: 15px;
			background: darken($light,5);
			@include border-radius(30px);

			&:hover{
				cursor: pointer;
			}

			&.flex-active{
				background: $brand;
			}
		}
	}
}
