/********** @HEADER  *********/

header {
	padding:42px 0px 30px 0px;
	border-bottom:1px solid $medium-light;
	z-index:50;
	height: 100px;
	left: 0;
	width: 100%;
	top: -25%;
	@include transition(all,.25s);
    text-align: right;

	&.fixed {
		left: 0;
		width: 100%;
	}

}

#header-shadow{
	width: 100%;
	height: 100px;
}


/********** @LOGO *********/

#logo a{
	display: block;
	width: 140px;
    border: none;
}





/********** @MENU *********/

$open-X: 2.5%;
$closed-X: -200%;

.overlay {

	//@include transition( all, $transition-duration );

	display:none;
	position: fixed;
	width:100%;
	height: 100%;
	opacity:.75;
	top:0;
	left:0;

	z-index:100;

	&.on {
		//opacity:0.75;
	}

	&.off {
		//display:none;
		//opacity:0.0;
	}
}



menu, #search-box {
	position: fixed;
	padding:0px;
	width:95%;
	max-height:95%;
	z-index:150;
    vertical-align: baseline;

	overflow-x:hidden;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.closed {
		@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
		//@include animation( menu-close, 5s, both );
	}

	&.open {
		position: fixed;
		@include transform( skewX( $open-skew ) translateX( $open-X ) );
		//@include animation( menu-open, 5s, both);
	}

    .menu-trigger {
        text-align: right;
        cursor: pointer;
    }
}


#search-box {
    position: fixed;
	padding:0px;
    top:2.5vh;
	width:95vw;
	height:95vh;
	z-index:150;

	overflow-x:hidden;

    &.open {
        left:0%;
    }

}

#nav {
    padding-top: 2px;
}
