
.wysiwyg{

	h1,h2,h3,h4,h5,h6{
		@extend .bold;
		margin-top: 3.5em;
	}

	ol,ul{
		-webkit-padding-start: 0px;
		padding-left: 52px;

		@media screen and (max-width: $md) {
			padding-left: 40px;
		}

		@media screen and (max-width: $sm) {
			padding-left: 30px;
		}

		li{
			@include text-size($text-h4);
		}
	}

	ul li{
		list-style: disc;
	}

	ol li{
		list-style: decimal;
	}

	li{
		line-height: 1.3;
		margin-bottom: 1em;
	}

	p{
		margin-bottom: 2em;

		a{
			color: inherit;
			text-decoration: underline;
		}
	}

	p ~ ul{
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.p1{
		padding: 0;
	}

	img{
		width: auto;
		max-width: 100%;
	}

	//wordpress styles found online @ https://digwp.com/2010/05/default-wordpress-css-styles-hooks/
	.entry-content img {
		margin: 0 0 1em 0;
	}

	.alignleft, img.alignleft {
		margin-right: 2em;
		display: inline;
		float: left;

		@media screen and (max-width: $sm) {
			width: 39% !important;
		}
	}

	.alignright, img.alignright {
		margin-left: 2em;
		display: inline;
		float: right;

		@media screen and (max-width: $sm) {
			width: 39% !important;
		}
	}

	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;

		@media screen and (max-width: $sm) {
			width: 39% !important;
		}
	}

	// .alignnone, img.alignnone {}

	.wp-caption {
		margin-bottom: 0em;
		padding-top: 7px;
	}

	.wp-caption img {
		border: 0 none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	.wp-caption-text{
		font-size: .7em;
		color: $medium;
		margin-bottom: 0;
	}

	.wp-smiley {
		margin: 0 !important;
		max-height: 1em;
	}

	blockquote{
		font-family: $font-secondary;
		p, p span{
			font-family: $font-secondary;
			@extend .h3;
		}

	}

	blockquote.left {
		margin-right: 20px;
		text-align: right;
		margin-left: 0;
		width: 33%;
		float: left;
	}

	blockquote.right {
		margin-left: 20px;
		text-align: left;
		margin-right: 0;
		width: 33%;
		float: right;
	}

	.gallery dl {}
	.gallery dt {}
	.gallery dd {}
	.gallery dl a {}
	.gallery dl img {}
	.gallery-caption {}

	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}
}


.wysiwyg {



    h1,h2,h3,h4,h5 {
        @extend .bold;
    }

    h1 {
        @extend .h3;
    }

    h2 {
        @extend .h4;
    }

    h3 {
        @extend .h5;
    }

    h4 {
        @extend .h6;
    }

    h5, h6 {
        @extend p;
    }

    p {
        margin-bottom: 1.5em;
    }



    ol,ul {
        list-style: none;
        counter-reset: section;
    }

    ul li {
        &::before {
            @extend .pictogram;
            content: "…";
            margin-left: 1em;
            margin-right: 1em;
        }

        margin-left: 2em;
        margin-bottom: 1em;
        text-indent: -2.5em;

    }

    ol li {
        &::before {
            counter-increment: section;
            content: counter(section) ".";
            margin-left: 1em;
            margin-right: 1em;
            font-weight: bold;
        }

        margin-left: 2em;
        margin-bottom: 1em;
        text-indent: -2.5em;
    }

}

@media ($lg-query) {
    .wysiwyg, .slideshare {
        /**
         * This constrains the width of the wysiwyg container on larger screens.
         */
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}


figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure {
  position: relative;
}

figcaption {
  text-align: center;
}

figure[data-type=table] {
  clear: both;
}

figure[data-type=video] {
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  clear: both;
}
figure[data-type=video] p {
  margin: 0;
}
figure[data-type=video].wy-figure-full p {
  position: relative;
  padding-bottom: 51%;
  width: 100%;
  height: 0;
}
figure[data-type=video].wy-figure-full iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

figure[data-type=image] {
  position: relative;
  margin-bottom: 24px;
}
figure[data-type=image] img {
  width: 100%;
}
figure[data-type=image].wy-figure-large {
  width: 100%;
  clear: both;
}
figure[data-type=image].wy-figure-medium {
  width: 50%;
}
figure[data-type=image].wy-figure-small {
  width: 33%;
}

figure[data-type=quote] {
  @extend .bold;
  color:$brand;
  position: relative;

  & blockquote {
    @extend .bold;
    border:none;
  }
}
figure[data-type=quote] figcaption {
  @extend .bold;
  text-align: left;
}
figure[data-type=quote].wy-figure-medium {

}
figure[data-type=quote].wy-figure-large {

}
figure[data-type=quote].wy-figure-right {
  width: 33%;
}
figure[data-type=quote].wy-figure-left {
  width: 33%;
  margin-right: 24px;
}
figure[data-type=quote] cite {
  @extend .bold;
  display: block;
  text-align: left;
}
figure[data-type=quote] cite:before {
  content: "\2014\00a0";
}

.wy-figure-right {
  float: right;
  margin-left: 24px;
}
.wy-figure-right .wy-figure-controls {
  right: 0;
}

.wy-figure-left {
  float: left;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  figure[data-type=image] {
    width: 100% !important;
    float: none !important;
    margin-left: 0;
    margin-right: 0;
  }

  figure[data-type=video] iframe {
    width: 100% !important;
    height: auto !important;
  }
}
