
@font-face {
	font-family: 'modern_pictograms_proregular';
	src: url('modernpictogramspro_234.eot');
	src: url('modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('modernpictogramspro_234.woff') format('woff'),
		url('modernpictogramspro_234.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('/static/fonts/modernpics_2_268e-webfont.eot');
    src: url('/static/fonts/modernpics_2_268e-webfont.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/modernpics_2_268e-webfont.woff') format('woff'),
		url('/static/fonts/modernpics_2_268e-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: "SimplonNormLight";
	src: url('/static/fonts/SimplonNorm-Light-WebS.eot');
	src: url('/static/fonts/SimplonNorm-Light-WebS.eot?#iefix') format('opentype'),
		url('/static/fonts/SimplonNorm-Light-WebS.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "SimplonNormMedium";
	src: url('/static/fonts/SimplonNorm-Medium-WebS.eot');
	src: url('/static/fonts/SimplonNorm-Medium-WebS.eot?#iefix') format('opentype'),
		url('/static/fonts/SimplonNorm-Medium-WebS.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}
