
@import 'map-base.scss';



.ws-map {
    height:50vh;
}



























// #map-block {
// 	position: absolute;
// 	top: 0px;
// 	left: 0px;
// 	width: 100%;
// 	height: 100%;
// 	background:transparent;
// }

// .tooltip {
// 	position: fixed;
// 	top: 0; left: 0;
// }

// .project-label {
// 	padding: 5px 25px 18px 25px;
// 	background-color: rgba(255,255,255,.85);
// 	color:#222;
// 	text-decoration: none;
// 	border: 1px solid #444;
// 	width: 480px;

// 	h3{
// 		line-height: 1.2;
// 	}
// }

// .country {
//   fill: #bbb;
//   stroke-width:.5px;
//   stroke: #bbb;
// }

// .map-project {
// 	fill: transparent;
// 	cursor: pointer;
// }

// .project-marker {
// 	fill: $brand !important;
// }



// #map {
// 	position: relative;
// 	cursor: move;
// }

// #map-instructions {
// 	position:absolute;
// 	right: 30px;
// 	top: 30px;
// 	width: 140px;
// 	text-align: right;
// 	font-size: 12px;
// 	line-height: 1;
// }

// #map-callout {
// 	position:absolute;
// 	top: 15px;
// 	left: 15px;

// 	h3{
// 		line-height: 1.3;
// 	}

// 	p{
// 		font-size: 16px;
// 	}
// }

// .map-button {
// 	@extend .bold;

// 	display:inline-block;
// 	width:32px;
// 	height:32px;
// 	cursor:default;

// 	color: $medium-light;
// 	background-color:white;
// 	text-align:center;

// 	padding-top:.35em;
// 	border: 2px solid $medium-light;

// 	font-size:1.5em;

// 	&:first-child {
// 		margin-right:2em;
// 	}

// 	&.clickable {
// 		cursor:pointer;

// 		color: $brand;
// 		border: 2px solid $brand;


// 		&:hover {
// 			background-color: $brand;
// 			color:white;
// 		}

// 	}
// }



// //xs map
// @media ($xs-query) {

// 	.project-label {
// 		width: 300px;
// 	}

// 	#home-map .project-marker {
// 		//fill: $brand !important;
// 	}

// 	#map-instructions{
// 		display: none;
// 	}

// 	#map-callout{
// 		top: 0;
// 		text-align:center;
// 	}

// 	#home-map #map {
// 		opacity: .25;
// 	}

// }
